body,
.lc_selectLi:hover,
.ui-widget-header,
.header .dropdown dd ul,
.desBox,
.chartViewOptions.cbl_menuTabs li a:hover,
.chartViewOptions.cbl_menuTabs li a.selected,
.classWallWrap .grayPostWrap,
.lc_wrapperTabsContent .post_tab ul li a,
.lc_wrapperTabsContent .button-group a,
.lcs_userProfileSection h2 a.lcs_profileSectionLink,
.lcs_userProfileSection h2 a.lcs_profileSectionLink.open {
	background: #34363e!important
}
body,
.rubric_splitButton label span,
.desBox,
.ilpn_listing .gridheader .smartSearchWrap .lc_progressSmartSearch,
select,
.cell .subtext,
.lcs_subtext,
.gridbody .row .cell,
.ilpn_listing .gridheader .gridheaderColumnTitle,
.ul-list-tymncy,
.tinyPreview,
.brdCmbBox span,
.dm-svrepotInner .tptblhed table th,
.gryTxt,
.formLabel,
.sectionContainer .previewDetails p,
.contBoxLft .name,
.dataTablSml .name,
.profCont label,
.profCont .profLblCont,
.profCont label.caption,
.dark-green-circle,
.lc_colYellow.showToolTip .lc_contTitleLbl,
.lc_colYellow.showToolTip .lc_classCode,
.classScheduleContainer .caltodayBlock.lc_todayDisabled,
.CourseCreationContentRight .sectionHeader,
.submissionTitle h3,
.contBoxLft .name,
.dm-svrepotInner .midltblhed table td,
.lc_techSupportTitle h4,
.lc_infoTable td,
.acordianBx .acrdBxdesing .acrdHeader span,
.acordianBx .acrdBxdesing ul li,
.header .dropdown dd ul li a.subLinkDDTop:hover,
.header .dropdown2 dd ul li a.subLinkDDTop:hover,
.header .dropdown dd ul li strong.subLinkDDTop,
.header .dropdown2 dd ul li strong.subLinkDDTop,
.dashboard-box-black .red-circle .circular-loader-inner,
.classScheduleContainer .paginationWrap .weekCounter,
.calendarTitleNew,
.sectionHeader h2,
.selected_role,
.lc_navBarTitle,
.header .dropdown dt a:hover,
.header .dropdown dt a:focus,
.header .dropdown dt a,
.header .dropdown2 dt a:hover,
.header .dropdown2 dt a:focus,
.header .dropdown2 dt a,
.header .dropdown dt em,
.header .dropdown2 dt em,
ul.plannerItemsList li h3,
ul.plannerItemsList li p,
.calSmlBox,
.captionsubhead,
.classScheduleContainer .ui-widget-header,
.lc_colGrey.showToolTip .lc_contTitleLbl,
.lc_colGrey.showToolTip .lc_classCode,
.classScheduleContainer .pagination span,
#selectedNavTitle,
.selfSubTlt {
	color: #fff!important
}
.lc_header,
.lc_navigation,
.lc_navigation,
.lc_selectLi,
.lc_groupMenu .lc_navHasChild,
.lc_selectLi,
.headerMast,
#headerId,
#messagesMenuOption,
.headerMast,
.lc_selectLi .lc_groupMenu lc_navHasChild,
.lc_navigation,
.accordion>h3,
.accordion .lc_accordionMainHdr>h3,
.tabsCont,
.ui-widget-content,
.smalTabs .midBox,
.dataTabl1 th,
.sortBlueUpBg,
.lc_contentHeader,
.tabsTop,
.tabsTopRight,
.paginationBig .pagination a,
.lc_rosterSearchResult {
	background: #434653!important
}
.lc_navBar,
.lc_navDiv {
	background: none repeat scroll 0 0 #0000!important
}
.lc_navBar .lc_pathLi {
    background: #34363ea8!important
}
.classScheduleContainer .pagination span.current,
.classScheduleContainer .caltodayBlock.lc_todayDisabled,
.dark-green-circle,
.tac-progress-done {
	background: #e77121!important;
	opacity: 100%
}
.header .dropdown dt a,
.header .dropdown dt a:hover,
.header .dropdown dt a:focus,
.role_arrow {
	background-color: #434653!important
}
.role_arrow {
	border: none
}
#logoImg {
	background: url(../logos/logoEnhanced.png) no-repeat;
	opacity: 1;
	transition: .25s ease-in-out
}
#logoImg:hover {
	background: url(../logos/whiteGCULogo.png) no-repeat
}
.lc_navIcons {
	filter: saturate(0%)
}
a,
.subtitlePop span,
.inLP,
.chartViewOptions.cbl_menuTabs li a:hover,
.chartViewOptions.cbl_menuTabs li a.selected,
.pa0,
.lcs_score {
	color: #e77121!important
}
.header .dropdown2 span.role_arrow,
.header .dropdown span.role_arrow {
	border: none;
	transition: .1s ease-in-out
}
.header .dropdown .active span.role_arrow,
.header .dropdown dt a:hover span.role_arrow {
	background-position: -7px -345px;
	border: none
}
#roles dd span.role_arrow:hover,
#roles dd span.role_arrow.active {
	background: url(https://lms-trad.gcu.edu/learningPlatform/images/1569445563950/icons_flat.png) no-repeat scroll -7px -314px #fcfdfc
}
.lc_loginContainer,
.lcs_scrollingPathList,
.tabsCont,
.buttonRow {
	background: #434653!important;
}
.lc_loginContainer {
	box-shadow: 0 1px 9px rgba(0, 0, 0, 0.34)
}
.lcs_scrollingPathList {
	z-index: 3
}
.sortNavCriteria.selected,
.sortNavCriteria.selected:hover {
	background: #434653
}
.sortNavCriteria.sortArrowUp {
	background: #34363e
}
.tabsCont {
	border-left: 1px solid #434653;
	border-right: 1px solid #434653
}
.ul-list-tymncy,
.tinyPreview {
	color: #e2e2e2
}
.CourseCreationContentRight .sectionHeader {
	text-shadow: 1px 0 0 rgba(0, 0, 0, 0.75)
}
ul.sortNavlevels .iuDetails.selected,
.iuDetails.sortArrowUp.selected {
	background-color: #50535e
}
.formLabel {
	color: #cacaca
}
.CourseCreationContentLeft {
	background: #34363e none
}
.lc_navBarInner {
	background: none repeat scroll 0 0 #434653
}
.lc-hom-box .lc-hom-headr {
	background-color: #434653!important;
	background-image: none!important
}
.dashBrd-options>a,
.searchIcon,
.help,
.signout,
.smallLoader,
#chatFrame,
.sectionContainer h3.sectionSubHeader {
	filter: invert(75%)!important
}
.lc_paginationDv {
	background: none repeat scroll 0 0 #34363ea8!important;
	border-bottom: 4px solid #353535
}
.ui-widget-content {
	border: 1px solid #34363e!important
}
.classScheduleContainer .fc-today {
	background: none repeat scroll 0 0 #34363e!important;
	border-bottom: 1px solid #e77121!important;
	border-left: 1px solid #e77121!important;
	border-right: 1px solid #34363e!important
}
.ui-widget .fc-event {
	background-color: #34363e!important;
	border-color: #434653!important
}
.smalTabs h2 {
	border-bottom: 2px solid #34363e
}
.acordianBx .acrdBxdesing .acrdHeader span {
	text-shadow: none!important
}
.ui-widget-header {
	border: 1px solid #34363e!important
}
.loader_grey {
	background: none repeat scroll 0 0 #34363e!important
}
.qtip.qtip-defaults {
	box-shadow: 0 1px 15px 0 #00000040!important
}
.tabs {
	box-shadow: 0 1px 15px 0 #00000010!important
}
.iuDetails.sortArrowUp:hover {
	background-color:#34363e
}
.smalTabs .midBox {
	border: none!important;
	box-shadow: 0 1px 15px 0 #00000010!important
}
.classScheduleContainer .fc-event {
	margin-left: 2px!important;
	margin-right: 2px!important
}
.lc_logoBrdr {
	margin: 11px 5px 0 16px !important
}
.dark-green-circle .circular-loader-inner {
	background: #34363eb8 none
}
#enhancedFooter {
	color: #c2c2c2;
	float: center;
	text-shadow: 1px 1px #d50000
}
#clock,
#footerDate {
	float: right;
	text-align: right
}
.header .dropdown dt a,
.header .dropdown dt a:hover,
.header .dropdown dt a:focus {
	border: 1px solid #34363e
}
.header .dropdown dd ul {
	box-shadow: 0 1px 15px 0 #00000010!important
}
.dataTabl1 th {
	border-bottom: #34363e;
	color: #e77121
}
.noNotifications,
.event-type.class,
.lc_notifArea span .lc_countLbl {
	color: #c7c7c7
}
.event-type.class,
.noNotifications {
	background: #d50000 none
}
.filesUploadedHeader {
	background-color: #34363e;
	border: none;
	box-shadow: 0 1px 15px 0 #00000040!important
}
#githubLink {
	color: ##e77121!important
}

#noteButton {
	background-image: url(https://lms-trad.gcu.edu/learningPlatform/images/1568045196802/dashboard/icons_dashboard.png);
	background-position: -8px -131px!important
}

.dataTabl1 tr.selected {
	background: #868ca5!important
}
.tchSupportHead,
.inLinePopupMain {
	background: #34363e none!important
}
.buttonRow {
	border: 1px solid #34363e
}

.techSendBtn {
	background: 0 to(#34363e))
}

.popCont>h1,
.boxy-wrapper .title-bar>h2,
#popup>h1,
#popup2>h1,
#popup3 h1,
.inLinePopupMain>h1,
.popCont h1.lcs_popContHeader {
	background: linear-gradient(to bottom, #43444a 0, #282a32 100%)!important;
	color: #c05800!important
}

.CourseCreationContentRight {
	overflow: hidden!important;
	z-index: 5
}

.posFixed {
	position: relative!important
}
.dm-svrepotInner,
.dm-svrepotInner .midltblhed table tr:nth-child(even) {
	background-color: #34363e!important
}
.dm-svrepotInner {
	border: solid #313131 1px
}

.dm-svrepotInner .tptblhed table th {
	background-color: #434653
}

.dm-svrepotInner .midltblhed table tr:hover {
	background-color: #434653!important
}

.midltblhed {
	border: solid #434653 1px
}

.dm-svrepotInner .midltblhed table td {
	border-bottom: dotted #434653 1px
}

ul.chartViewOptions li a span.role_arrow {
	border-radius: 7px 7px 7px 7px;
	border-style: none
}
.paginationBig .pagination .prev,
.paginationBig .pagination .next,
.paginationBig .pagination span {
	border: 1px solid #434653
}

.paginationBig .pagination span {
	background: none repeat scroll 0 0 #434653
}

.paginationBig .pagination span.current {
	background: none repeat scroll 0 0 #34363e
}
.expPanelBox .topicMast1,
.forumStatusTop,
.expPanel5,
.expPanel5:hover,
.expPanel4,
.expPanel4:hover {
	background: no-repeat scroll center -20px #34363e!important;
	border-color: #34363e
}

.expPanel4 {
	background: url(https://lms-trad.gcu.edu/learningPlatform/images/1568045196802/exp-colps3.png) no-repeat scroll center -20px #34363e!important;
	background-position: center 0;
	margin-top: 0
}

.midltblhed .unreadcls td {
	background-color: #505463
}

.lc_navArrow:after {
	border-top-color: #e77121!important
}
#calendarMenuoption,
#coursesMenuOption {
	border-bottom: 1px solid #e0e0e0
}

.classWallWrap .grayPostWrap {
	box-shadow: none!important
}
.lc_wrapperTabsContent .post_tab ul li a,
.lc_wrapperTabsContent .button-group a {
	border-bottom: 2px solid #434653;
	border-right: 1px solid #434653;
	border-top: 2px solid #434653
}
.sectionContainer h3.sectionSubHeader,
.sectionContainer h3.sectionSubHeader span {
	color: #000
}

.lc_notifArea span .lc_countLbl {
	background: none repeat scroll 0 0 #d50000
}

.textField5 {
	border: none;
	padding: 4px
}

.lcs_userProfileSection h2 {
	border: none
}

.lcs_userProfileSection h2 a.lcs_profileSectionLink .lcs_profileSectionLinkIcon {
	background: none
}

.bufferBox {
  border: 1px solid #34363e
}

.bufferBox .bufferBoxInr {
	background: url(../../images/1568045196802/buffer_bg.png) repeat-y scroll right top #34363e!important;
	display: inline-block;
	height: 16px
}
input.textField,
input[type="text"],
input[type="text"] {
	border: 1px solid #34363e!important
}

.lcs_userProfileSection .profCont {
  border: none
}

.lcs_userProfileFieldGroup {
  border-bottom: 1px dotted #34363e
}

.sectionContainer .previewDetails p {
	margin-bottom: 13px
}

.lcs_studentScoreBoxSection {
	background-color: #34363e;
	border-color: #e77121;
	border-radius: 6px 6px 6px 6px
}

.ilpn_listing .gridheader .gridheaderColumnTitle {
	background-color: #34363e
}

.ilpn_listing .gridheader .left {
	background-color: #34363e
}

.lc_tableWithBorder tbody tr:nth-of-type(2n+1) td {
	background-color: #707277
}

.gridbody .row {
	color: #ADAEB1
}

.lc_tableWithBorder tbody tr:nth-of-type(2n+2) td {
	background-color: #34363e
}

label.p3 {
	background-color: #F0A979
}

.gridbody .row .cell.p3 {
	color: #F0A979
}

label.p2 {
	background-color: #679F66
}

.gridbody .row .cell.p2 {
	color: #679F66
}

label.p1 {
  background-color: #BC6666
}

.gridbody .row .cell.p1 {
  color: #BC6666
}

.cell .lcs_toggleTextScore {
	background-color: #707277
}
.select {
	background: url(../../images/1568045196802/select_normal.png) 98% center no-repeat #434653;
	border: 1px solid #34363e
}

.ilpn_listing .gridheader .smartSearchWrap .lc_progressSmartSearch {
	background-color: #434653
}

.lcs_electronicResHeadInnerLeft {
	background-color: #34363e;
	border-right: none
}

.color-notmet {
	color: #BC6666!important
}

.lcs_electronicResHeadInner {
	background-color: #34363e;
	border: 1px solid #434653
}

.classScheduleContainer .calMoreBtn {
	background-color: #34363e;
	border-color: #34363e
}

.dataTabl28 td {
	border-bottom: solid 1px #34363e!important
}

.divider1 {
	border-bottom: solid 1px #34363e!important
}

.borderDiv {
	margin-bottom: 34363px
}

.dataTabl1 td {
	border-bottom: #ccc
}

.lc_loudHelpUl>li {
	background-color: #34363e
}

.currentSubmission {
	background: #34363e none;
	border: 1px solid #34363e;
	box-shadow: 0 1px 15px 0 #00000040!important
}
.rubric_splitButton label,
.rubric_splitButton a.r_splitArrow,
.btn.btn_primary,
.inLinePopupMain .btn, .inLinePopupMain .btn_small_primary, .inLinePopupMain .btn.btn_primary.btn_small_primary,
.btn.btn_secondary {
	background: linear-gradient(to bottom, rgb(255, 137, 36) 0, rgb(192, 88, 0) 100%);
	border: 1px solid #e77121;
}
.rubric_splitButton label:hover,
.rubric_splitButton a.r_splitArrow:hover,
.rubric_splitButton label.active,
.rubric_splitButton a.r_splitArrow.active {
	border: 1px solid #afc8dd;
	background: linear-gradient(to bottom, rgb(232, 151, 82) 0, rgb(222, 127, 47) 100%) !important;
}
.top-nav-tab .counter,
.filesUploadedHeader .counter {
	background: none repeat scroll 0 0 #e77121;
}
.lc_nextContentIco,
.lc_prevContentIco {
	filter: invert(75%)!important;
}
ul.sortNavlevels li a:hover {
	background-color: #34363e;
}
.acordianBx .acrdBxdesing ul li.leftPd a:hover,
.acordianBx .acrdBxdesing ul li a:hover {
	background-color: #34363e!important;
}
.buttonRow1 input[type="button"] {
	background: linear-gradient(to bottom, #A9AAAD 0, #707277 100%);
	border: 1px solid #707277;
	color: #fff!important;
	text-shadow: 2px 1px 0 #4996cd!important
}
.lc_popBoxyContent, .dm-popupmiddle, .lc_loginTermsAndCondDv {
	background-color: #434653
}
.popCont h1 a.close, #popupClose, #popupClose2, #popupClose3, #popupClose4, #popupClose5, .popupInlineClose, .popCont a.close, .popCont a.closeBtn {
	/* filter: invert(110%)!important; */
	  filter: invert(1) brightness(60%) sepia(20%) saturate(900%);
}
.popCont input.button {
	background: linear-gradient(to bottom, rgb(255, 137, 36) 0, rgb(192, 88, 0) 100%);
	border: 1px solid #e77121;
}
.popupForums {
	background-color: #434653;
}
.boxy-content {
	background-color: #434653;
}
.boxy-wrapper .top-right, .boxy-wrapper .bottom, .boxy-wrapper .top-left  {
	background: linear-gradient(to bottom, #43444a 0, #282a32 100%)!important;
}
.lc_colViolet.showToolTip .lc_contTitleLbl,
.lc_colViolet.showToolTip .lc_classCode,
.lc_colBlue.showToolTip .lc_contTitleLbl,
.lc_colBlue.showToolTip .lc_classCode,
.documentListElement .similar>strong {
	color: #fff;
}
.createCourseTable.styleTable .tableSubHeader td {
	background-color: #434653;
}
.createCourseTable.styleTable td {
	color: #fff;
	background-color:#434653;
}
.createCourseTable tr:hover td {
	background-color: #e771218c;
}
.styleTable {
	border: 0px
}
.multiSelectBtn {
	background: linear-gradient(to bottom, #A9AAAD 0, #707277 100%);
	border: 1px solid #707277;
	color: #fff!important;
	text-shadow: 2px 1px 0 #fff!important
}