body {
background:#34363e;
font:normal 18px "Trebuchet MS";
margin:10px;
}

.switch {
display:inline-block;
height:34px;
position:relative;
width:60px;
}

.switch input {
height:0;
opacity:0;
width:0;
}

.slider {
-webkit-transition:.4s;
background-color:#ccc;
bottom:0;
cursor:pointer;
left:0;
position:absolute;
right:0;
top:0;
transition:.4s;
}

.slider:before {
-webkit-transition:.4s;
background-color:#FFF;
bottom:4px;
content:"";
height:26px;
left:4px;
position:absolute;
transition:.4s;
width:26px;
}

input:checked + .slider {
background-color:#2196F3;
}

input:focus + .slider {
box-shadow:0 0 1px #2196F3;
}

input:checked + .slider:before {
-ms-transform:translateX(26px);
-webkit-transform:translateX(26px);
transform:translateX(26px);
}

.slider.round {
border-radius:34px;
}

.slider.round:before {
acolor:#FFF;
border-radius:50%;
}

.settingButton {
-moz-border-radius:6px;
-moz-box-shadow:inset 0 1px 0 -6px #cf866c;
-webkit-border-radius:6px;
-webkit-box-shadow:inset 0 1px 0 -6px #cf866c;
background:linear-gradient(tobottom,#d0451b5%,#bc3315100%);
background-color:#d0451b;
border-radius:6px;
box-shadow:inset 0 1px 0 -6px #cf866c;
color:#fff;
cursor:pointer;
display:block;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b',endColorstr='#bc3315',GradientType=0);
font-family:Trebuchet MS;
font-size:16px;
margin:auto;
padding:10px 48px;
text-align:center;
text-decoration:none;
text-shadow:0 1px 0 #854629;
}

.settingButton:hover {
background:linear-gradient(tobottom,#bc33155%,#d0451b100%);
background-color:#bc3315;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315',endColorstr='#d0451b',GradientType=0);
}

.settingButton:active {
position:relative;
top:1px;
}